* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    font-family: Arial, sans-serif;
    color: white;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 420px;
}

.card {
    background: rgba(30, 41, 59, 0.95);

    padding: 24px;
    margin-bottom: 18px;

    border-radius: 18px;

    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.subtitle {
    text-align: center;
    color: #cbd5e1;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.balance-box {
    background: rgba(15, 23, 42, 0.8);

    padding: 18px;

    border-radius: 14px;

    text-align: center;
}

.balance-box span {
    color: #94a3b8;
    font-size: 0.9rem;
}

input {
    width: 100%;

    padding: 14px;

    margin-bottom: 12px;

    border: 1px solid transparent;
    border-radius: 10px;

    background: #f8fafc;
    color: #0f172a;

    font-size: 1rem;

    outline: none;

    transition: 0.3s;
}

input:focus {
    border-color: #3b82f6;
}

button {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #3b82f6;
    color: white;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    opacity: 0.95;
}

.btn {
    display: block;

    width: 100%;

    text-align: center;

    background: #22c55e;
    color: white;

    text-decoration: none;

    padding: 14px;

    border-radius: 10px;

    margin-top: 20px;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
    opacity: 0.95;
}

.logout-btn {
    background: #ef4444;
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    .card {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.7rem;
    }
}